<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="..." crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  </head>
  <body>
    <header class="banner">
      <img
        src="{{ '/assets/banner.png' | relative_url }}"
        alt="Banner for {{ site.title }}"
      />
      <div class="site-title">
        <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>
    </header>

    <div class="page-wrap">
      <aside class="sidebar">{% include sidebar.html %}</aside>
      <main class="content">{{ content }}</main>
    </div>
  </body>
</html>
